/* Folhas de estilo do tema / template do site. */

/* Importa FontAwesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
/* Definições de estilo */
:root {
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-tamanho: 16px;
    --cor-do-fundo: rgb(172, 137, 104);
    --cor-link-padrao: rgb(255, 255, 255);
    --cor-link-hover: rgb(119, 58, 43);
    --font-titulo: "Playwrite IN", serif;
}


/* Reset básico */

* {
    box-sizing: border-box;
    outline: none;
}

html,
body,
#wrap {
    position: relative;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--font-padrao);
    /* Tamanho padrão da fonte da página ↨ 1rem */
    font-size: var(--tamanho-da-fonte);

}

/* Reset dos links */

a {
    color: var(--cor-link-padrao);
    text-decoration: none;
}

a:hover {
    color: var(--cor-link-hover);
}

/* Reset dos campos de formulário */

form input,
form button {
    font-family: inherit;
    font-size: inherit;
    padding: .35rem .5rem;
}

/* Fundo da página */

body {
    background-color: var(--cor-do-fundo);

}

#wrap {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

/* Cabeçalho → <header> */

header {
    background-color: #8d4321;
}

header img {
    display: block;
    height: 4rem; /* 4 * 16 = 64 pixels */
    width: auto;
    margin: .5rem 1rem .5rem .5rem;
}

header div {
    display: flex;
    align-items: center;
}

header h1 {
    font-size: 1.6rem;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: var(--font-titulo);
}
header form {
    background-color: rgb(78, 21, 21);
    padding: 1rem;
    display: flex;
}

header form input {
    flex-grow: 1;
    border: none;
    border-radius: .3rem 0 0 .3rem;
}

header form button {
    border: none;
    border-radius: 0 .3rem .3rem 0;
    background-color: #ddd;
    cursor: pointer;
}

/* Menu principal */

nav {
    background-color: rgb(255, 243, 221);
    display: flex;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    justify-content: flex-end;
}

nav img {
    height: 2rem;
    width: 2rem;
}

nav i {
    font-size: 2rem;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: #000;
}

nav a:hover {
    color: #8d4321;
    background-color: #000;
}

nav a:first-child {
    margin-right: auto;
}

nav span {
    margin-top: .5rem;
}